h1 {
    text-align: center;
}

.Stopwatch-display {
    text-align: center;
}

/* .stopwatch {
    font-size: 175%;
    background-color: white;
    padding: 10%;
    margin-top: 10%;
    border-radius: 4%;
} */

.timerBtn {
    font-size: 100%;
    padding: 6%;
    border-radius: 75%;
}

/* .startBtn {
    background-color: #85FFCE;
}

.pauseBtn {
    background-color: rgb(230, 187, 109);
}

.resetBtn {
    background-color: rgb(121, 172, 192);
} */