/* 
#signUpBtn{
    color: white;
    font-weight: bolder;
} */

.chooseAvatar {
    display: flex;
    justify-content: center;
}

.avatar {
    height: 80px;
    width: 80px;
}

@media screen and (max-width: 767px) {
    .avatar {
      width: 80px;
      height: 80px;
    }
  }

@media screen and (min-width: 768px) {
    .avatar {
      width: 180px;
      height: 180px;
    }
  }